/*MOBILE SIZE*/

@media (max-width: 800px) {

.grid-main-child2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-experience {
    grid-template: none;
    justify-content: center;
    height: 100%;
}

.grid-aboutme {
    flex-direction: column;
}

.picture-of-me {
    margin-bottom: 2rem;
}
}
 
@media (max-width: 414px) {

.grid-frontend {
    align-items: flex-start;
    
}
    
.frontend-child1 {
    margin: 3rem 0rem;
}
}


