/*MOBILE SIZE*/

@media (max-width: 1120px) {
    .big {
        height: 100%;
    }
 
    .grid-main {
        height: 100%;
    }
    .grid-aboutme {
        height: 100%;
    }
    .grid-main-child2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid-frontend{
        height: 100%;
    }
    .grid-other {
        height: 100%;
    }
    .frontend-child1 {
        height: 20%;
    }

    .frontend-child1 h1 {
        font-size: 20pt;
    }

    .github-icon {
        height: 5rem;
    }
    
    .grid-frontend p {
     font-size: 14pt;
    }
}

@media (max-width: 800px) {


.grid-experience {
    grid-template: none;
    justify-content: center;
    height: 100%;
}

.grid-aboutme {
    flex-direction: column;
}

.picture-of-me {
    margin-bottom: 2rem;
}
}
 
@media (max-width: 414px) {

.grid-frontend {
    align-items: flex-start;
    
}
    
.frontend-child1 {
    margin: 3rem 0rem;
}

.frontend-child1 h1 {
    font-size: 16pt;
}
}



