/*MOBILE SIZE*/

@media (max-width: 415px) {

.grid-main-child2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-experience {
    grid-template: none;
    justify-content: center;
    height: 100%;
}


}


@media (max-width: 992px) {

}