* {
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;
}

/*BODY*/

body {
    margin: 0;
    width: 100%;
}

span {
    font-style: italic;
}

h1 {
    font-size: 50pt;
}

/* GRID CONTAINER*/

.grid-container {
    display: grid;
}

/* FRONT/FIRST PAGE*/

.grid-main {
    background-image: url(./Pictures/alysa-bajenaru-P103bmFilDA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    display: grid;
    height: 100vh;
    text-align: center;
}

/* Style for first page objects*/

.grid-main-child1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.grid-main-child2 {
    display: flex;
    justify-content: center;
}

/*Style for circled divs on first page*/

.circles {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: none;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin: 1.5rem;
    padding: 5px;
    font-size: 14pt;
}

.circles:hover {
    background-color: rgba(245, 245, 245, 0.521);
    color: black;
}

/*ABOUT ME PART*/

.grid-aboutme {
    background-color: whitesmoke;
    height: 100vh;
    opacity: 0.8;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme-child1 {
    background-color: black;
    color: white;
    line-height: 1.8;
    padding: 2rem;
    margin: 2rem;
    
}

.aboutme-child1 ul {
    padding: 0;
}

.picture-of-me {
    height: 28rem;
}

/*FRONTEND PART*/

.grid-frontend {
    background-color: black;
    height: 100vh;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frontend-child1 {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10rem 0;
    width: 80%;
}

.frontend-child1 h1 {
    font-size: 1.5rem;
}

.github-icon {
    height: 5rem;
}

/*EXPERIENCE PART*/

#big {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
.rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-experience {
    background-color: whitesmoke;
    opacity: 0.8;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.experience-child1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius: 50%;
    color: whitesmoke;
    height: 12rem;
    width: 12rem;
    margin: 1rem;
    line-height: 0;
}

.experience-child1 p {
    font-size: large;
    line-height: 1;
    text-align: center;
}

.experience-child1 div {
    display: none;
}

/*OTHER PART*/

.grid-other {
    background-color: black;
    height: 100vh;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-child1 {
    border: 13px solid gray;
    background-color: whitesmoke;
    text-align: center;
    flex-direction: column;
    padding: 2rem;
}

.other-child1 ul {
    margin: 0;
    padding: 0;
}

/*FOOTER PART*/

.grid-footer {
    display: flex;
    justify-content: center;
    background-color: rgb(207, 204, 204);
    text-align: center;
    padding: 1rem;
}

.credits {
    background-color:  rgb(207, 204, 204);
    text-align: center;
    font-size: x-small;
}

.icons-footer {
    height: 2rem;
    padding: 1rem;
}