* {
    font-family: 'Quicksand', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-rows: 0fr 8fr 1fr;
}

/* .grid-header {
    background-color: rgba(125, 125, 155, 0.658);
    text-align: right;
    padding: 1rem;
    
} */

.grid-main {
    background-color: gray;
    text-align: center;
    background-image: url(./Pictures/jeremy-bishop-QHZn3-0bbEM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    display: grid;
}

/* Style for main objects*/

.grid-main-child1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

.grid-main-child2 {
    display: flex;
    justify-content: center;
}

/*Style for circle divs*/

.circles {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: none;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    margin: 1.5rem;
    padding: 5px;
    font-size: 14px;
}

.icons-button {
    height: 2rem;
    display: none;
}

.icons-button:hover {
    
}

.circles:hover {
    background-color: whitesmoke;
    color: black;
}

.grid-footer {
    background-color: rgba(71, 68, 65, 0.658);
    text-align: center;
    padding: 1rem;
}

.icons-footer {
    height: 2rem;
    padding: 1rem;
}

