* {
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;
}
body {
    margin: 0;
}

.grid-container {
    display: grid;
}

/* .grid-header {
    background-color: rgba(125, 125, 155, 0.658);
    text-align: right;
    padding: 1rem;
    
} */

.grid-main {
    text-align: center;
    background-image: url(./Pictures/jeremy-bishop-QHZn3-0bbEM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    display: grid;
    height: 100vh;
}

/* Style for main objects*/

.grid-main-child1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

.grid-main-child2 {
    display: flex;
    justify-content: center;
}

/*Style for circle divs*/

.circles {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: none;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    margin: 1.5rem;
    padding: 5px;
    font-size: 14px;
}

.icons-button {
    height: 2rem;
    display: none;
}


.circles:hover {
    background-color: rgba(245, 245, 245, 0.521);
    color: black;
}

/*ABOUT ME PART*/

.grid-aboutme {
    background-color: whitesmoke;
    height: 100vh;
    opacity: 0.8;
    font-size: large;
    display: flex;
    justify-content: center;
}

.aboutme-child1 {
    border: 1px solid black;
    background-color: black;
    color: white;
    line-height: 1.8; 
    padding: 2rem;
    margin: 2rem;
     
}

span {
    font-style: italic;
}

/*WORK PART*/

.grid-work {
    background-color: black;
    height: 100vh;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-child1 {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10rem;
}

.github-icon {
    height: 5rem;
}



/*EDUCATION PART*/

.grid-education {
    background-color: whitesmoke;
    height: 100vh;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.education-child1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius: 50%;
    color: whitesmoke;
    height: 15rem;
    width: 15rem;
    margin: 1rem;
    line-height: 0;
}

.education-child1 p {
    font-size: large;
    line-height: 1;
    text-align: center;
}

.education-child1 div {
    display: none;
}

/*OTHER PART*/

.grid-other {
    background-color: black;
    height: 100vh;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-child1 {
    border: 13px solid gray;
    background-color: whitesmoke;
    text-align: center;
    flex-direction: column;
    padding: 2rem;   

}

.other-child1 ul {
    margin: 0;
    padding: 0;
}

/*FOOTER*/

.grid-footer {
    background-color: rgb(207, 204, 204);
    text-align: center;
    padding: 1rem;
}

.icons-footer {
    height: 2rem;
    padding: 1rem;
}

